{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block main %}
        <div class="row">
               <div class="col-md-12">
                <div id="doctors" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;" data-scroll-id="doctors" tabindex="-1">
        <div class="container">
		
		<div class="heading">
               <span class="icon-logo"><img src="images/icon-logo.png" alt="#"></span>
               <h2>Les Fondateurs</h2>
            </div>

            <div class="row dev-list text-center">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
                    <div class="widget clearfix">
                        <img src="" alt="" class="img-responsive img-rounded">
                        <div class="widget-title">
                            <h3>Corentin Levasseur</h3>
                            <small>Stagiaire</small>
                        </div>
                        <!-- end title -->
                        <p>Bonjour , je suis Corentin le proprio de la clinique </p>

                        <div class="footer-social">
                            <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                            <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="btn grd1"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeIn;">
                    <div class="widget clearfix">
                        <img src="" alt="" class="img-responsive img-rounded">
                        <div class="widget-title">
                            <h3>Pacome Vezie</h3>
                            <small>Expert maladie interne</small>
                        </div>
                        <!-- end title -->
                        <p>Bonjour je suis Pacome spécialiste en maladie interne</p>

                        <div class="footer-social">
                            <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                            <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="btn grd1"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn">
                    <div class="widget clearfix">
                        <img src="" alt="" class="img-responsive img-rounded">
                        <div class="widget-title">
                            <h3>Leo Trentesaux</h3>
                            <small>Expert Orthopedique</small>
                        </div>
                        <!-- end title -->
                        <p>Bonjour je suis Léo , le personnel de ménage</p>

                        <div class="footer-social">
                            <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                            <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="btn grd1"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->
    </div>
                  <div class="message-box">

                     <h4>Que fait-on </h4>
                     <h2> Services proposés</h2>
                   
                     <p>  "La clinique NanoBio Organics est dévouée à offrir des soins de santé de qualité et une gamme complète de services médicaux pour répondre aux besoins de nos patients. Notre équipe de professionnels de la santé hautement qualifiés et attentionnés est déterminée à vous offrir des soins personnalisés et à vous guider vers une meilleure santé et un bien-être durable. </p>
                     <a href="#services" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Apprendre plus</a>
                  </div>

{% endblock %}
